# KMeans: Find K (Core)

### Intructions

### **Task**

Your task is to perform customer segmentation using KMeans. We are interested in grouping our customers into groups based on similar characteristics. This can help the company effectively allocate marketing resources. We will use customer age, education, years of employment, income, debt, whether they defaulted, and their debt to income ratio to group them into segments.

You can download the data [here](https://s3.amazonaws.com/General_V88/boomyeah2015/codingdojo/curriculum/content/chapter/cust_seg.csv). The original data is from this [data source](https://github.com/Nikhil-Adithyan/Customer-Segmentation-with-K-Means).

1. Use KMeans to create various customer segments.
    1. Use an Elbow Plot of inertia.
    2. And a plot of Silhouette Scores.
    3. Choose a K based on the results.
2. Submit your notebook below.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [4]:
df = pd.read_csv('cust_seg.csv')
cust = df[['Age', 'Edu', 'Years Employed', 'Income', 'Defaulted', 'Card Debt', 'DebtIncomeRatio']]
cust.head()

   Age  Edu  Years Employed  Income  Defaulted  Card Debt  DebtIncomeRatio
0   41    2               6      19        0.0      0.124              6.3
1   47    1              26     100        0.0      4.582             12.8
2   33    2              10      57        1.0      6.111             20.9
3   29    2               4      19        0.0      0.681              6.3
4   47    1              31     253        0.0      9.308              7.2